*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 20px;
    background-color:#003153;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
caption{
    font-size: 36px;
    margin-bottom: 20px;
    color: whitesmoke;
    text-shadow: 2px 3px 4px black;
}
table{
    margin: auto;
    width: 80%;
    box-shadow: 0 2px 5px black;
    border-collapse:collapse;
}
th{
    background-color:#005318;
    color: whitesmoke;
    font-weight: bold;
    padding: 10px;
}
tr{
    background-color: whitesmoke;
}
td{
    text-align: center;
    padding: 20px;
}
tbody tr:hover{
    background-color: lightgrey;
    color: black;
}

button{
    padding: 8px 12px;
    background-color: #003a11;
    color: whitesmoke;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}
button:disabled{
    background-color: gray;
    cursor: not-allowed;
}
button:hover:not(:disabled){
    background-color: #005318;
}